<div class="wrapper">
    <div class="inputs">
        <h1>Mean Median Computation</h1>
        <input type='number' placeholder='Enter value' id='userInput'/>
        <div>
            <button type='button' id='go' >Go</button>
            <button type='button' id='reset'>Reset</button>
        </div>
        
    </div>
    
    <div class='outputs' id='output'>
        
    </div>
</div>


