<!DOCTYPE html>
<html>
  <head>
    <title>Unbxd</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      
  </head>
  <body>
    {{{body}}}
  </body>

  <script src="/javascripts/bundle.js"></script>

</html>
